.btnReadMore {
	text-transform: none;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
	background: #333333;
}

.header-deals {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}

.hot-deals-detail .container {
	border: 1px solid #D5D5D5;
}

.nav-header-deals {
	font-size: 20px;
    padding: 10px;
    color: #F44336;
    border-bottom: 1px solid #D5D5D5;
}

.info-hot-deals {
	padding:  10px;
}

.info-hot-deals .description {
	border-bottom: 1px solid #D5D5D5;
}

.description h4 {
	font-size: 15px;
}

.item-promotion {
	font-size: 13px;
	color: #047b86;
	font-weight: 700;
	margin: 10px 0 0;
	text-overflow: ellipsis;
}

.item-name {
    font-size: 13px;
    font-weight: 700;
    color: #000;
    margin: 0 0 7px;
}

.txt-elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.item-address {
    font-size: 12px;
    color: #888;
}

